<!DOCTYPE html>
{% extends 'book_app/base.html' %}
{% load static %}
{% block body_block %}
    <div class="post-single">
        <div class="post-thumbnail"><img style="margin-top: 35px;" src="{{ object.image.url }}" alt="..." class="img-fluid"></div>
        <div class="post-details">
            <h1>{{object.title}}</h1>
        <div class="post-footer d-flex align-items-center">
            <p href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="" alt="..." class="img-fluid"></div>
                <div class="title"><span>Written by {{ object.author }}</span></div></p>
                <div class="comments meta-last"><i style="margin-left: 10px;" class="fa fa-eye"> &#x1f441 <span>{{ object.count }} View{{ object.count | pluralize }}</span></i>

                </div>
        </div>
        <div class="post-body">
          <p class="lead text-justify">{{object.context | safe}}</p>
        </div>
        </div>
    </div>
    
    <div class="post-comments">
        <header>
          <h3 class="h6">Comment{{book.comments.count | pluralize }}<span class="no-of-comments">({{book.comments.count}})</span></h3>
        </header>
        {% for comment in book.comments.all %}

        <div class="comment">
            <div class="comment-header d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                    <div class="title"><strong>{{ comment.name }}</strong> <span class="date">{{ comment.created_on | timesince }} ago</span></div>
                </div>
            </div>
            <div class="comment-body">
                <p>{{ comment.comment }}</p>
            </div>
        {% empty %}
            <h1>There are no comments yet!</h1>
        {% endfor %}
        
        </div>
        <a href="{% url 'new_comment' object.id %}">New Comment</a> 
      </div>
      <!-- End Comment -->
     
      
    </div>
{% endblock %}