<!DOCTYPE html>
{% extends 'book_app/base.html' %}
{% block body_block %}
    {% for book in book_list  %}
        <div class="card" style="width: 18rem; margin: 10px 5px 5px 5px; float: left;">
            <img src="{{book.image.url}}" class="card-img-top" alt="NO">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
            <div class="info">
                By <span>{{ book.author }}</span> | In <span><a href="{% url 'genre' book.genre %}">{{ book.genre }}</a></span> | On <span>{{ book.release_year }}</span> | &#x1f441 <span>{{ book.count }} View{{ book.count | pluralize }}</span> 
            </div>
            <p class="card-text">{{ book.content | truncatewords:15 | safe }}</p>
            <a href="{% url 'book_details' book.slug %}" class="btn btn-primary">Read More...</a>
            </div>    
        </div>
    {% endfor %}
    {% include 'book_app/pagination.html' %}
{% endblock %}