<!DOCTYPE html>
{% extends 'book_app/base.html' %}
{% load static %}
{% block body_block %}
    <div class="post-single">
        <div class="post-thumbnail"><img style="margin-top: 35px;" src="{{ object.image.url }}" alt="..." class="img-fluid"></div>
        <div class="post-details">
            <h1>{{object.title}}</h1>
        <div class="post-footer d-flex align-items-center">
            <p href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="" alt="..." class="img-fluid"></div>
                <div class="title"><span>Written by {{ object.author }}</span></div></p>
                <div class="comments meta-last"><i style="margin-left: 10px;" class="fa fa-eye"> &#x1f441 <span>{{ object.count }} View{{ object.count | pluralize }}</span></i>

                </div>
        </div>
        <div class="post-body">
          <p class="lead text-justify">{{object.context | safe}}</p>
        </div>
        </div>
    </div>
    <form action="" method="POST">    
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <div class="comment-list">
        {% for cmt in comments %}
            <div class="comment">
                <div class="info">
                    <p><strong>{{ cmt.name }}</strong> <span>{{ cmt.created_on }}</span></p>
                    <p>{{ cmt.comment }}</p>
                </div>
            </div>
        {% empty %}
            <h3>There are no comments yet!</h3>
        {% endfor %}
        
    </div>
   
{% endblock %}